---
export interface Props {
  tag: string;
  aos: string;
  data: {
    name: string;
    image: string;
    leader: string;
    league: string;
    requirement: string;
    capital: string;
    language: string;
    location: string;
  };
}

const { tag, aos, data } = Astro.props;
---

<section data-aos={aos}>
  <div>
    <img src={data.image} alt="the clan's logo" height="64" width="64" />
    <h3>
      <a
        href={`https://link.clashofclans.com/en?action=OpenClanProfile&tag=%23${tag}`}
        >{data.name}</a
      >&nbsp;🔗
    </h3>
  </div>

  <ul>
    <li><span class="bold">Clan Leader    |</span> {data.leader}</li>
    <li><span class="bold">C.W.L League   |</span> {data.league}</li>
    <li><span class="bold">Capital League |</span> {data.capital}</li>
    <li><span class="bold">Requirement    |</span> {data.requirement}</li>
    <li><span class="bold">The Language   |</span> {data.language}</li>
    <li><span class="bold">The Location   |</span> {data.location}</li>
  </ul>
</section>

<style>
  section {
    display: flex;
    padding: 1.5rem 0.5rem;
    flex-direction: column;
    gap: 0.5em;
    border: var(--btn-text) 1px solid;
    border-radius: 0.5rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  ul {
    text-align: left;
    align-self: center;
  }

  li {
    padding: 0.1rem 0;
    
  }

  h3 {
    font-size: 1.4rem;
    
  }

  a {
    color: inherit;
  }

  .bold {
    font-weight: 700;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 2.3rem;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 3.2rem;
    }
  }
</style>
